
.title {
    text-transform: uppercase !important;
    font-weight: bold;
    font-size: 17px;
}
.btn.btn-outlined {
  color: #ffffff;
  height: 40px;
  line-height: 38px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 15px;
  padding: 0 35px;
  min-width: 140px;
}
.btn.btn-outlined:hover {
  background: #ffffff;
  color: #2c3e50;
}
main {
    padding-top: 3%;
}
.headline {
    font-size: 50px;
    font-family: Cassannet_Plus_Regular;
}
.social {
    font-weight: bold;
}
.social-g {
    filter: blur(2px);
}