.wrapper:before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    //overflow: hidden !important;
    //filter: blur(5px);
    //width: 101%;
    //height: 101%;
  	//background-image: url(../../assets/img/Aviao.png);
  	background-attachment: fixed;
  	//padding: 300px 0;
}
.title {
    text-transform: uppercase !important;
}

.btn.btn-outlined {
  color: #ffffff;
  height: 40px;
  line-height: 38px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 15px;
  padding: 0 35px;
  min-width: 140px;
}
.btn.btn-outlined:hover {
  background: #ffffff;
  color: #2c3e50;
}
main {
    padding-top: 3%;
}

.second {
    border-left: 2px solid red !important;
}
.headline {
    font-size: 50px;
    font-family: Cassannet_Plus_Regular;
}

.coming>form{
    filter: blur(2px);
    position: relative;
}
.coming{
    position: relative;
}
.soon {
    //content: 'Coming Soon!';
    color: red;
    font-size: 60px;
    font-family: RisingStars;
    text-transform: uppercase;
    position: absolute;
    transform: rotate(-25deg);
    top: 30%;
    left: 25%;
    right: 0;
    bottom: 0;
    margin: auto;
}
.hr {
    transform: rotate(90deg);
    width: 100%;
}

.row.match-my-cols {
    overflow: hidden; 
}

.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}