<div *ngIf="isLoading" class="row center-align">
	<div class="preloader-wrapper big active">
		<div class="spinner-layer spinner-blue-only">
				<div class="circle-clipper left">
				<div class="circle"></div>
				</div>
				<div class="gap-patch">
				<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
		    	<div class="circle"></div>
		  	</div>
		</div>
	</div>
</div>
<div *ngIf="!isLoading" class="row center-align">
	<ul>
		<li *ngFor="let picture of pictures | paginate: { itemsPerPage: 8, currentPage: page }">
			<input type="checkbox" [attr.id]="'pic' + picture.id" [(ngModel)]="picture.checked"/>
	    	<label [attr.for]="'pic' + picture.id">
	    		<img [src]="picture.images[0].source">
	    	</label>
		</li>
	</ul>
	<div class="center-align">
	    <pagination-controls (pageChange)="page = $event"></pagination-controls>
	</div>
	<br />
	<div class="row center-align">
		<button class="waves-effect waves-black btn-flat">
			<i class="material-icons right">delete</i>Reset
		</button>
		<button (click)="upload()" class="waves-effect waves-red btn-flat">
			<i class="material-icons right">send</i>Send
		</button>
	</div>
</div>
