<app-navbar></app-navbar>
<main class="wrapper grey lighten-3">
	<div class="row" style="padding-top: 20px;">
		<div [ngClass]="{'hidden': isLoading}" class="col m4 s4 sidebar grey lighten-3 white-text" style="padding: auto !important;">
			<div *ngIf="isLoading; else Albums" class="row center-align">
				<div class="preloader-wrapper preloader-wrapper1 big active">
					<div class="spinner-layer spinner-blue-only">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
				</div>
			</div>
			<ng-template #Albums>
				<div class="row offset">
					<div class="col m6 s12" *ngFor="let album of (albums | alphabetSortPipe | paginate: { itemsPerPage: 4, currentPage: pages, id: 'albums' })">
						<div class="card hoverable">
							<div class="card-image">
								<a class="hide-on-med-and-down btn-floating halfway-fab waves-effect waves-light blue center-align" style="margin-right: -20px !important;">{{album.count}}</a>
								<a [routerLink]="[album.id]">
									<img [src]="album.cover_photo.images[2].source" width="150" height="150">
								</a>
							</div>
							<div class="hide-on-med-and-down card-content" style="padding: 0px !important; font-weight: bold;">
								<p class="black-text truncate">{{album.name}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="center-align">
					<pagination-controls (pageChange)="pages = $event" id="albums" autoHide="true"></pagination-controls>
				</div>
			</ng-template>

		</div>
		<div class="col m8 offset-m4 s8 offset-s4 sidebar_right grey lighten-3">
			<div class="row">
				<div class="card-panel pic-panel" style="padding-bottom: 0px !important;">
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</div>
</main>