/*.preloader-wrapper {
    position: absolute;
  	top: 20%;
  	left: 50%;
  	width: 100%;
  	z-index: 1;
  	text-align: center;
}*/
.sidebar {
    position: fixed;
    overflow: auto !important;
    height: 90%;
}
.hidden {
    filter: blur(5);
    filter: opacity(0.8);
}
.sidebar_right {
    position: fixed;
    float: left;
    overflow: auto !important;
    height: 90%;
}
.pic-panel{
    min-height: 90%;
}
.alb-panel {
    padding: 0px !important;
    padding-bottom: 0px !important;
    box-sizing: content-box;
    margin: 0px !important;
    padding-left: 0px !important;
}
.offset {
    padding-left: 20px;
    padding-right: 20px;
}
.portrait-crop{
    display: inline-block;
    height: 215px;
    overflow: hidden;
}
.portrait-crop a img{
    width: 100%;
}